
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: darkred;
    color: white;
    padding: 10px 0;
}

nav.menu ul {
    display: flex;
    justify-content: center;
}

nav.menu ul li {
    list-style: none;
    margin: 0 15px;
}

nav.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h1, h2 {
    color: darkgoldenrod;
    font-weight: bold;
}

p {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu ul li {
        margin: 10px 0;
    }


   
    footer {
        font-size: 0.9em;
    }
}
@media (max-width: 1024px) {
}
.final {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
h1{
    background-color: darkred;
    color: gold;
    text-align: center;
}
.uno{
    text-align: center;
    background-color: darkred;
    color: color-mix(in hsl shorter hue, white 30%, darkgoldenrod 70%);
}